* {
  box-sizing: border-box;
}
html {
  color: white;

}
body {
  background-color: black;
}

.container {
  position: relative;
  height: 100vh;
}
.blue-floor {
  background-color: blue;
  position: absolute;
  top: 556px;
  width: 100%;
  height: 200px;
}
